html, body { 
    margin: 0; 
    padding: 0; 
    border: none;   
  } 
  body { 
    height: 100vh; 
    display: flex;
    flex-direction: column;
  }

  nav {
    
    border: 2px solid cornflowerblue; 
    margin: 5px; 
    padding: 3px; 
    display:flex;
    justify-content: space-between;
    flex-basis:15%;
    align-items: center;
  
  }

  nav h1 {
    border: 2px solid cornflowerblue; 
    margin: 5px; 
    padding: 3px; 
  }

  nav ul {
      display:flex;
      border: 2px solid cornflowerblue; 
      margin: 5px; 
      padding: 3px; 
  }

  nav ul li {

    display:inline;
    border: 2px solid cornflowerblue; 
    margin: 5px; 
    padding: 3px; 
  }

  main {
    
    border: 2px solid cornflowerblue; 
    margin: 5px; 
    padding: 3px; 
    display:flex;
    flex-basis:70%;
  
  }

  article {
    border: 2px solid cornflowerblue; 
    margin: 5px; 
    padding: 3px; 
    flex-basis:75%;
  }

  aside {
    border: 2px solid cornflowerblue; 
    margin: 5px; 
    padding: 3px; 
    flex-basis:25%;
  }

  footer {
    display:flex;
    justify-content: space-between;
    align-items:center;
    border: 2px solid cornflowerblue; 
    margin: 5px; 
    padding: 3px; 
    flex-basis:15%;
  }

  footer ul {
      display:flex;
      border: 2px solid cornflowerblue; 
      margin: 5px; 
      padding: 3px; 
  }

  footer ul li {
      display:inline;
      border: 2px solid cornflowerblue; 
      margin: 5px; 
      padding: 3px; 
  }

  footer p {
    border: 2px solid cornflowerblue; 
    margin: 5px; 
    padding: 3px; 
  }

  footer section {

    border: 2px solid cornflowerblue; 
    margin: 5px; 
    padding: 3px; 

  }

  nav section {
  
      border: 2px solid cornflowerblue; 
      margin: 5px; 
      padding: 3px; 
  
  }